@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
body {
  @apply bg-stone-100;
} */
* {
  box-sizing: border-box;
}

.dark body {

  color: white;
  @apply bg-neutral-950;
}

.light body {
  background-color: rgb(255, 255, 255);
  color: #000000;
}

body {
  @apply antialiased;
  width: 100vw;
  overflow-x: hidden;

  font-family: "Poppins", sans-serif;




  height: 100vh;
  /* @apply text-black; */
} 

.router-link-active:focus {

  @apply text-green-400
}

@layer components {
  .title {
    @apply dark:text-white font-medium text-black text-lg md:text-xl mt-6;
  }

  .text {
    @apply md:text-lg
  }

  .link {
    @apply hover:text-white hover:border-b-2  text-lg font-normal p-2 list-none;
  }

  .link:focus {
    @apply border-b-2 border-green-400
  }

  .btn {
    @apply dark:bg-green-400 dark:hover:bg-green-300 dark:text-black bg-violet-600 hover:bg-violet-700 text-white px-6 py-3 text-center rounded-lg;
  }
  .cardd{
    @apply  p-3 rounded-2xl  shadow-[2px_4px_16px_0px_rgba(248,248,248,0.06)_inset] dark:hover:bg-opacity-80 dark:bg-neutral-900  hover:bg-opacity-50
  }
  .carddd{
    @apply  top-[1px] left-[1px]  absolute w-[calc(100%-2px)] h-[calc(100%-2px)] p-4  rounded-2xl   dark:hover:bg-opacity-80 dark:bg-neutral-900  hover:bg-opacity-50
  }
  .card-wrapper {
    @apply relative bg-gradient-to-b from-slate-700 to-slate-800 rounded-2xl overflow-hidden
  }

  .card-wrapper::before {
    background: conic-gradient(rgba(244, 114, 182, 0.4) 0deg, rgba(192, 132, 252, 0.4) 0deg, transparent 180deg);


  }

  .card-textt{
    @apply   text-neutral-400  font-light;
  }
}

html {
  scroll-behavior: smooth;
}

.tooltip {
  @apply invisible absolute;
}

.has-tooltip:click .tooltip {
  @apply visible z-50;
}

.code {
  @apply w-1/2;

}

.pree {
  @apply rounded-lg;
}

pre {
  white-space: pre-wrap;
}
